article
{
	color: #56643b;
	border-style: solid;
	margin-bottom: 5px;
}
article.favoris
{
	background-color: #dcff97;
}
article.telechargement
{
	background-color: #FF917F;
}
article.termine
{
	background-color: #7BFF7F;
}
p.taille
{
	margin-left: 10px;
}
p.taille span
{
	font-size: 14px;
    border-right: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

article > h2
{
	font-size: 18px;
	padding-left: 5px;
}
section > h2
{
	font-size: 24px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #B0D5AD;
}
section
{
	padding-bottom: 10px;
}
section.options
{
	background-color: #e9f9cb;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;	
}
body
{
	margin-bottom: 100px;
}
h2 > ul {
	list-style-type:none
}
li.favoris {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #ccc;
}
img
{
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
a.boutonarticle
{
	position: absolute;
	right: 40px;
}
