article.favoris
{
	color: #56643b;
	background-color: #dcff97;
	border-style: solid;
	margin-bottom: 5px;
}
article.telechargement
{
	color: rgb(20,0,0);
	margin-left: 20px;
	background-color: #FF917F;
	box-shadow: 10px 10px 5px grey;
}
article.termine
{
	color: rgb(20,0,0);
	margin-left: 20px;
	background-color: #7BFF7F;
	box-shadow: 10px 10px 5px grey;
}
p.taille
{
	margin-left: 10px;
}
p.taille span
{
	font-size: 14px;
    border-right: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

article > h2
{
	font-size: 18px;
	padding-left: 5px;
}
section > h2
{
	font-size: 24px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #B0D5AD;
}
section
{
	padding-bottom: 55px;
}
section.options
{
	background-color: #e9f9cb;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;	
}
body
{
	margin-bottom: 100px;
}
h2 > ul {
	list-style-type:none
}
li.favoris {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #ccc;
} 
