article
{
	color: #56643b;
	border-style: solid;
	margin-bottom: 5px;
}
article.favoris
{
	background-color: #dcff97;
}
article.telechargement
{
	background-color: #FF917F;
}
article.termine
{
	background-color: #7BFF7F;
}
p.taille
{
	margin-left: 10px;
}
p.taille span
{
	font-size: 14px;
    border-right: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

article > h2
{
	font-size: 18px;
	padding-left: 5px;
}
section > h2
{
	font-size: 24px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #B0D5AD;
}
section
{
	padding-bottom: 10px;
}
section.options
{
	background-color: #e9f9cb;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 20;
}
body
{
	margin-bottom: 100px;
}
h2 > ul {
	list-style-type:none;
}
ul.taille li {
	display: inline;
	list-style-type:none;
	margin: 2px;
}
ul.options li {
	display: inline;
}
li.favoris {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #ccc;
}
img
{
	vertical-align: middle;
	width: 56px;
	height: 56px;
}
span.taille {
    font-size: 14px;
    font-weight: bold;
}

button.taille {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 6px;
    margin-right: 4px;
    margin-left: 4px;
    padding: 5px;
    font-size: 10px;
}
button.bouton {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 8px;
    margin-right: 4px;
    margin-left: 4px;
    padding: 10px;
    font-size: 16px;
    right: 20px;
    position: fixed;
}
button.boutonfavoris {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 8px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 16px;
	right: 20px;
	position: absolute;
	z-index: 10;
}
button.boutonrecherche {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 8px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 16px;
	right: 50px;
	position: absolute;
	z-index: 10;
}
a.boutonarticle
{
	position: absolute;
	right: 40px;
	z-index: -1;
}
p.debug{
	background-color: red;
    border: 5px solid black; /* Green */
    /*visibility: collapse;*/
}
