<div class="col-md-4" id="art_{{ item.id }}">
    <div class="panel panel-default article">
        <div class="panel-body">
            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
            <span class="label label-default">{{ item.taille }}</span>
            <span class="label label-default">{{ item.annee }}</span>
            <button class="btn btn-xs btn-default" onclick="marquer_lu('{{ url_for('minisab.marquer_article_lu') }}', [{{ item.id }} ], {{ item.categorie.id}})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
            </button>
        </div>
    </div>
</div>