<div class="col-md-4">
{% if item.recherche_resultat|length > 0 %}
    {% if item.status_sabnzbd == 'Completed' %}
        <div class="panel panel-default article article_recherche telechargement_reussi" id="art_{{ item.id }}">
    {% elif item.status_sabnzbd == 'Failed' %}
        <div class="panel panel-default article article_recherche telechargement_echoue" id="art_{{ item.id }}">
    {% elif item.status_sabnzbd == 'Downloading' %}
        <div class="panel panel-default article article_recherche telechargement_encours" id="art_{{ item.id }}">
    {% else %}
        <div class="panel panel-default article article_recherche" id="art_{{ item.id }}">
    {% endif %}
{% else %}
<div class="panel panel-default article" id="art_{{ item.id }}">
{% endif %}
<div class="panel-heading">
    <div class="btn-group" role="group" aria-label="...">
        <h4><a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
        <button class="btn btn-default" onclick="marquer_lu([{{ item.id }}])">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
        </button>
        <button class="btn btn-default" onclick="marquer_favoris({{ item.id }})">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
        </button>
        <button class="btn btn-default" onclick="lancer_recherche({{ item.id }})">
            <span class="glyphicon glyphicon-search" aria-hidden="true"/>               
        </button>
        <button class="btn btn-default" onclick="deplier_recherche({{ item.id }})">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"/>               
        </button>
        {% if item.recherche_resultat|length > 0 %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item.recherche_resultat[0].categorie_sabnzbd }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for item_categorie in categorie_sabnzbd %}
                    <li><a href="#">{{ item_categorie }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        </h4>
    </div>
</div>
<div class="panel-body">
    <h5><p>Taille  <span class="label label-default">{{ item.taille }}</span>
    Annee  <span class="label label-default">{{ item.annee }}</span>
    Fichier <span class="label label-default">{{ item.fichier }}</span><br>
    <a href="{{ item.nfo }}">Nfo</a></p></h5>
</div>   
    {% if item.recherche_resultat|length > 0 %}
    <div class="list-group">
        {% for item_recherche in item.recherche_resultat %}
          <button type="button" class="list-group-item" id="recherche_{{ item_recherche.id }}" onclick="envoyer_sab({{ item_recherche.id }}, {{ item.id }})"><span class="badge">{{ item_recherche.taille }}</span>{{ item_recherche.title }}</button>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
