<div class="row" id="cat_{{ categorie.id }}">
    <div class="col-md-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <div class="btn-group" role="group" aria-label="...">
                            <h1>{{ categorie.nom }} <span class="badge">{{ items|length }}</span>
                                <button class="btn btn-danger" onclick="marquer_lu('{{ url_for('minisab.marquer_article_lu', lunonlu=0) }}', [{% for item in items %}{{ item.id }},{% endfor %}], {{ categorie.id}})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
                                </button>
                                {%if categorie.avec_filtre == True %}
                                <button class="btn btn-warning" onclick="marquer_lu('{{ url_for('minisab.marquer_article_lu', lunonlu=0) }}', [{% for item in items %}{%if item.filtre == True %}{{ item.id }},{% endif %}{% endfor %}], {{ categorie.id}})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
                                </button>
                                {% endif %}
                                {%if categorie.ids_termine|length > 0 %}
                                <button class="btn btn-info" onclick="marquer_lu([{% for item in categorie.ids_termine %}{{ item }},{% endfor %}], {{ categorie.id}})">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"/>
                                </button>
                                {% endif %}
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group" role="group" aria-label="...">
                            <h1>
                                <a class="btn btn-warning" href="{{ url_for('minisab.categorie_historique', id_categorie=categorie.id, taille_bloc=100, num_bloc=0) }}">
                                    <span class="glyphicon glyphicon-th" aria-hidden="true"/>
                                </a>
                                </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
