<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ titlepage }}</title>
    <style>
        .categorie > h1 {
            text-align: center;
            border-bottom-style: solid;
            border-width: 2px;
        }
        .article {
            background-color: lightblue;
            text-align: left;
            margin-top: 10px;
            padding-left: 10px;
            border-style: solid;
        }
        span {
            display: inline;
        }
    </style>
</head>
<body>
    <div class="categorie">
    <span>
        <h1>Favoris ({{ favoris|length }})</h1>
        <a href="/categorie/favoris/lu">Marquer comme lu</a>
    </span>
    {% for item in favoris %}
        <div class="article">
            <span>
                <h2>{{ item.title }}</h2>
                <a href="/article/{{ item.id }}/lu">Marquer comme lu</a>
                <a href="/article/{{ item.id }}/favoris">Favoris</a>
            </span>
            <h3>Taille : {{ item.taille }}</h3>
            Fichier : "{{ item.fichier }}"
            <a href="{{ item.nfo }}">Nfo</a>
        </div>
    {% endfor %}
    {% for categorie, taille, items in articles %}
        <div class="categorie">
        <span>
            <h1>{{ categorie }} ({{ taille }})</h1>
            <a href="/categorie/{{ categorie }}/lu">Marquer comme lu</a>
        </span>
        <table>
        {% for ligne_items in items %}
            <tr>
            {% for item in ligne_items %}
                <td>
                <div class="article">
                    <span>
                        <h2>{{ item.title }}</h2>
                        <a href="/article/{{ item.id }}/lu">Marquer comme lu</a>
                        <a href="/article/{{ item.id }}/favoris">Favoris</a>
                    </span>
                    <h3>Taille : {{ item.taille }}</h3>
                    Fichier : "{{ item.fichier }}"
                    <a href="{{ item.nfo }}">Nfo</a>
                </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
</body>
</html>
